<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>您好，</p>
	<p>给您推荐一个很好的网上学习平台： <a href="http://www.SouFudao.com?locale=cn">www.SouFudao.com</a></p>
	<p>我通过它找到了合适的导师。</p>
	<p>希望你也觉得它有用！</p>
	<br/>
	<br/>
  <p>Hi,</p>
  <p>Just wanted to share this website with you: <a href="http://www.SouFudao.com?locale=en">www.SouFudao.com</a></p>
  <p>I've been using it recently to find some great tutors (it's free to contact them).</p>
  <p>Hope you find it useful! </p>
  <p>Thanks!</p>
  <%= @user.first_name %>

  <%= render :partial => "bottom_logo" %>  
  </body>
</html>
