<html>
	<head>
		<script type="text/javascript" src="jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="show5.js"></script>
	</head>
	<body>
		<form>
		<input type="radio" name="pay_radio" value="99"/>For Teacher: 99</br>
		<input type="radio" name="pay_radio" value="199"/>For Student: 199</br>
		UserName:<input type="input" id="user" /></br>
		<input type="button" name="pay" value="pay" onclick="to_pay()" />
		</form>
	</body>
</html>
