<div class="modal hide fade in " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="nice-box lightbox" id="featured" >
      <div class="header">
        <button type="button" class="close" style="padding: 8px 10px 0 0;" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel"><%= t 'feature_heading' %></h2>
      </div>
      <div class="body">
        <p>   <%= t 'vip.html' %>


        </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
