
This website, SouFudao.com , is operated by Sou Fudao Limited Company (“SouFudao.com” “we”, or “us”).<br/><br/>
The purpose of this Privacy Policy is to assist you to understand how we use and protect the information that you provide to us.<br/><br/>
By using this website and/or registering an account, you consent to the collection, use and transfer of your information under the terms of this Privacy Policy. Please note that this website is not intended for children under 13 years of age. We do not knowingly collect personal information from children under 13.<br/><br/>
SouFudao.com is fully committed to comply with all applicable privacy laws. Therefore, the following principles will be applied when we manage your personal information, whether we hold it on paper or in electronic form:<br/><br/>
<ul>
<li>
We will only use your personal information with your knowledge and consent;
</li>
<li>
We will only provide your personal information to those who require it as part of their employment in the provision of products and/or services to you;
</li>
<li>
We will only collect information that is required to manage this website and/or provide you with requested products and/or services;
</li>
<li>
We will not pass personal information on to any other organization without your agreement unless required to do so by law or it is necessary to do so for the prevention or detection of crime;
</li>
<li>
We will use our reasonable endeavors to keep your personal information up to date;
</li>
<li>
We will use our reasonable endeavors to protect your personal information against unauthorized and/or accidental disclosure;
</li>
<li>
We will only retain your personal information for as long as it is required as part of the supply of products and/or services to you;
</li>
<li>
We will use our reasonable endeavors to correct inaccurate and/or misleading information, material and/or data as soon as practicable; and
</li>
<li>
We will provide you with a copy of your personal information on request.
</li>
</ul><br/><br/>
<b>Your Consent</b>
You acknowledge and agree that:<br/><br/>
<ul>
<li>
By using this website certain information about you may be captured electronically and/or otherwise, and transmitted to SouFudao.com and/or to third parties as set out below and/or to third parties who host our web servers and/or assist us in maintaining this website; and you consent to the use, storage and/or processing of your personal information by us and/or such third parties.
</li>
<li>
In order to provide you with products and/or services which you request, it may be necessary for us to disclose your personal details to third parties. However, such disclosure will only take place to the extent reasonably necessary for the provision of such products and/or services, and only with your prior consent.
</li>
<li>
In the event that we are ordered by a court to provide any of your personal information that we have collected in terms of this Privacy Policy, you consent to us providing such personal information in accordance with the court's instructions. However, if such an order is made, we will notify you as soon as practicable of it and the personal information which is to be and/or have been disclosed in accordance with the courts instructions.
</li>
</ul><br/><br/>
<b>Your Information</b>
When using this website , we may ask you to provide certain personal information including, but not limited to, your name, email address and other contact details.<br/><br/>
In certain areas of our website, we collect or may collect demographic information that is not unique to you for example your postcode, age and gender.<br/><br/>
In some cases we collect or may collect a combination of personal and demographic information.
<br/><br/>
We attempt to limit access to our information database only to our staff, third parties who host our web servers and/or assist us in maintaining this website as well as law enforcement and national security agencies, but cannot guarantee that other parties will not gain access to this database, and therefore are not responsible for the use made of such information by any party gaining unauthorized access to our information database. You may request us to remove your information from our information database at any time. However, please note that the parties to who we have legally provided your information in terms of this Privacy Policy as well as parties who have otherwise gained access to the database may have retained a copy of your information in their own files or databases. We are not responsible for the retention, use or privacy of your information or profiles in these instances.<br/><br/>
If you provide us with details of the business which you are employed by e.g. for purposes of dealing with SouFudao.com, it is your responsibility to ensure that you have been duly authorized to do so on behalf of the business.<br/><br/>
You may review, correct, update or change the information that we hold about you at any time. 
<br/><br/>

<b>Use Of Your Information</b>
Your information enables us to administer and manage our service to you, to respond to any queries that you may have, to provide any assistance that you may need, to provide you with cost-quotations and with products and/or services that you have requested.<br/><br/>
Your information may be used and analyzed so that we can administer, support, improve and develop our business; to determine your usage of this website; to contact you for your views on our services; and to notify you occasionally about important changes and/or developments to this website and/or our services.<br/><br/>
Your information may be used to notify you about other services which may be of interest to you, but only with your prior consent. We may notify you by post, telephone, fax, and/or e-mail. If at any time you wish us not to use your information for this purpose, please advise us accordingly so that we can cease doing so.<br/><br/>
Your information may be used to assist us to select services, products, information, materials and/or data that may be of interest to you.<br/><br/>
Your information may be shared with third parties who assist us to maintain, administer and/or develop this website. However, should it be necessary for us to do so, it would only be given to those third parties for that limited purpose.<br/><br/>
In order to assist us to improve our website design and layout, we may monitor this website’s traffic patterns and usage. This information may be passed to third parties, but we will not include any personally identifying information.<br/><br/>

<b>Disclosure Of Your Information</b>
<ul>
<li>
We will normally not disclose any of your personally identifiable or demographic information or information about your use of this website to third parties, except when you have consented for us to do so or when we are legally obliged to do so. You acknowledge and agree that:
We may hold any information you provide to us on our computers in Hong Kong. This information may be accessed by, provided to, and used by our staff and/or third parties who act for us for the purposes set out in this Privacy Policy and/or for other purposes that you consented to. Our staff and/or such third parties may process such information, fulfill and deliver orders and services, and provide support services on your and our behalf, including hosting our web servers, analyzing data, providing marketing assistance, processing credit card payments and providing customer service. Our staff and/or such third parties will have access to your information as necessary to perform their functions, but they may not share that information with any other third party or use that data for any other purpose, unless necessary to allow them to perform their functions.
</li>
<li>
We may provide comprehensive information on the usage of this website to third parties. However, this will not include personally identifiable information.
</li>
<li>
We may disclose your information if legally required to do so, or if requested to do so by a governmental entity or regulatory authority, or if we believe in good faith that such action is necessary to: (a) conform to legal requirements or comply with legal process; (b) protect the rights or property of SouFudao.com or its affiliated companies; (c) prevent a crime or protect national security; or (d) protect the personal safety of users or the public.
</li>
<li>
We may disclose and transfer your information to a third party who acquires all or a substantial portion of SouFudao.com's business, whether such acquisition is by way of merger, consolidation or purchase of all or a substantial portion of our assets. 
</li>
</ul>
<br/><br/>
<b>Cookies & IP Addresses</b>
Cookies are small pieces of information sent by a web server to a web browser. This information is stored on your computer’s hard drive by your web browser and acts as an anonymous identifier when you visit our website. We use cookies and the information generated thereby to create anonymous usage and interest profiles. The generated information never includes any information through which you could be identified personally, nor does it include any sensitive information.
<br/><br/>
Cookies are normally automatically accepted by most browsers. However, usually you can alter the settings of your browser to prevent automatic acceptance. You may still use most of the features of our website, if you choose not to receive cookies. However, please note that if you decline cookies, it may hinder performance and negatively impact on your experience of this website.<br/><br/>
<b>Other Websites</b>
This Privacy Policy only applies to this website. However, this website may contain links to other websites which are outside our control and are not covered by this Privacy Policy. If you access other websites using the links provided, the operators of these sites may collect information from you which will be used by them in accordance with their privacy policies, which may differ from ours. We are not responsible for the privacy practices of other website operators and/or the content of other websites which link from this website. We therefore recommend that you check the policy of each website that you visit and make sure that you are comfortable with the terms of such policies before providing any personal information.<br/><br/>

<b>Privacy Policy Changes</b>
This Privacy Policy is subject to change from time to time. We reserve the right to do so in our absolute discretion, without prior notice to you. Any changes to this Privacy Policy will be posted on this website and it will become effective from the time of posting on this website.<br/><br/>

We recommend that you regularly visit the Privacy Policy on this website to ensure that you remain up to date with its latest terms.<br/><br/>


<b>Your Access To Your Information</b>
You have a right to access the personal information that we hold about you, and may correct, update, delete or request a copy of such information by contacting us. 
<br/><br/>

<b>DATE LAST UPDATED: June 16, 2014</b>
