
<div id="maincontent">
<h1>Let's get started. Choose an option:-</h1>
<div class="servicepanel">
  <div id="servicepanelstudents">
    <h2>FOR STUDENTS</h2>
    <h3>Search Thousands of Tutors</h3>
    <ul>
      <li>Find a tutor in your area</li>
      <li>Contact and arrange lessons with tutors</li>
      <li>Provide and read tutor feedback</li>
    </ul>
    <div class="servicepanelbutton"><a href="/search_tutors"><span class="buttext"></span></a></div>
  </div>

  <div id="servicepaneltutors">
    <h2>FOR TUTORS</h2>
    <h3>Let Students Find You</h3>
    <ul>
      <li>Create your own tutor profile for free</li>
      <li>Allow students to find you by postcode</li>
      <li>List all your subjects and set your own prices</li>
    </ul>
    <div class="servicepanelbutton"><a href="/users/sign_up"><span class="buttext"></span></a></div>
  </div>
</div>
</div>

