<div id="homepage">
  <div id="homepage_flare" style="height:125px;">

    <div class="wrapper">
      <div id="headline">
        <!--img alt="Find-a-great-tutor" src="http://www.universitytutor.com/images/find-a-great-tutor.png?1385110395" height="33" width="529"-->

        <h3>
          搜辅导, or Sou Fudao, means “to search for guidance in study or training.”
        </h3>

        <!--p>
          UniversityTutor.com is a faster, easier way to find a tutor.  We have <br><em>47,186</em> tutors in <em>5,824</em> cities all over the <em>world</em> you can contact for FREE!
        </p-->

      </div>
      <div id="place_flash"></div>
      <!--a href="#"><img alt="Find a Tutor Near You!" id="screenshot" src="http://www.universitytutor.com/images/screenshot.png?1385110395" height="241" width="332"></a-->
    </div>

  </div>
</div>

<%= render :partial => "student_tutor_area" %>          

<%= render :partial => "featured_tutors_corosal" %>
