<p>您好/Hello <%= @resource.first_name %>!</p>

<p>我们收到了一个需要改密码的请求。您可以点击以下链接进行操作。</p>
<p><%= link_to '修改我的密码', edit_password_url(@resource, :reset_password_token => @token) %></p>
<p>如果您没有发出请求，请忽略此邮件。</p>
<p>您通过以上链接并创建新密码后方可生效。</p>
<br/>
<br/>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<br/>
<br/>
<p><img src="<%= ActionMailer::Base.default_url_options[:host] %>/assets/soufudao2.png" /></p>
